
.navmenu {

	%hide {
		transition: all 0.2s ease-out;
		opacity: 0;
		visibility: hidden;
	}
	%show {
		opacity: 1;
		visibility: visible;
	}

	%navtext {
		display: inline-block;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 0.02714em;
	}

	ul {
		padding-left: 0;
		margin-bottom: 0;
	}
	.navitem {
		list-style: none;
	}
	.navbtn {
		@extend %navtext;
		padding: 0.88em 1.14em;
		transition: all 0.2s ease-out;
		color: #000;
		border-radius: 3px;

		&:hover {
			background-color: rgba(204, 204, 204, 0.40);
			color: #000;
		}
	}
	.navicon {
		padding: 8px;
		display: inline-block;
		line-height: 1;
		margin-top: -5px;
	}

	.mobile {
		@extend %navtext;

		&.opened {
			.overlay {
				@extend %show;
			}
			.mobile-menu {
				@extend %show;
			}
		}

		.overlay {
			@extend %hide;
			background-color: rgba(0, 0, 0, 0.80);
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.mobile-open-menu {
			cursor: pointer;
		}

		.mobile-menu {
			@extend %hide;
			position: absolute;
			box-shadow: 0 4px 5px rgba(0, 0, 0, 0.20);
			background-color: #fff;
			top: 8px;
			right: 8px;
			border-radius: 2px;
			z-index: 1;

			.navicon,
			.navbtn {
				display: block;
				padding: 1.4em 1.7em;

				&:hover {
					background-color: transparent;
				}
			}


		}
	}

	.desktop {
		.icons {
			margin-right: -8px;
		}
	}
}