
.footermenu {
	a {
		padding: 8px;
		display: inline-block;
	}

	ul {
		padding: 0;
		margin: 0;
	}
	.navitem {
		list-style: none;
	}
	.navbtn {
		text-transform: uppercase;
		letter-spacing: 0.02714em;
		font-size: 12px;
		padding: 0.88em 1.14em;
		transition: all 0.2s ease-out;
		color: #000;
		border-radius: 3px;

		&:hover {
			// background-color: rgba(204, 204, 204, 0.40);
			color: #000;
		}
	}
}